@css {

@font-face {
	font-family: 'MuseoSansCyrl-700';
	src: url('../fonts/m/hinted-subset-MuseoSansCyrl-700.woff2') format('woff2'),
		url('../fonts/m/hinted-subset-MuseoSansCyrl-700.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSansCyrl-900';
	src: url('../fonts/m/hinted-subset-MuseoSansCyrl-900.woff2') format('woff2'),
		url('../fonts/m/hinted-subset-MuseoSansCyrl-900.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSansCyrl-300';
	src: url('../fonts/m/hinted-subset-MuseoSansCyrl-300.woff2') format('woff2'),
		url('../fonts/m/hinted-subset-MuseoSansCyrl-300.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSansCyrl-100';
	src: url('../fonts/m/hinted-subset-MuseoSansCyrl-100.woff2') format('woff2'),
		url('../fonts/m/hinted-subset-MuseoSansCyrl-100.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSansCyrl-500';
	src: url('../fonts/m/hinted-subset-MuseoSansCyrl-500.woff2') format('woff2'),
		url('../fonts/m/hinted-subset-MuseoSansCyrl-500.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


}


$mT = 'MuseoSansCyrl-100', Arial, sans-serif
$mL = 'MuseoSansCyrl-300', Arial, sans-serif
$mM = 'MuseoSansCyrl-500', Arial, sans-serif
$mB = 'MuseoSansCyrl-700', Arial, sans-serif
$mE = 'MuseoSansCyrl-900', Arial, sans-serif
