mixin header()
	header.header
		.container-fluid
			.row
				.col-lg-2.col-md-2.col-sm-12.col-xs-12
					a.header__logo.logo(href="#") ООО «Базовые системы»
				.col-lg-6.col-md-6.col-sm-12.col-xs-12
					.header__city.city Москва и МО
				.col-lg-2.col-md-2.col-sm-12.col-xs-12
					a.header__email.email(href="mailto:moush2010@gmail.com") moush2010@gmail.com
				.col-lg-2.col-md-2.col-sm-12.col-xs-12
					a.header__phone.phone(href='tel:+74957488864') +7 495 748 8864
