mixin footer()
	footer.footer
		.container-fluid
			.row
				.col-lg-2.col-md-2.col-sm-12.col-xs-12
					.footer__code.code ИНН 7704301705
				.col-lg-8.col-md-8.col-sm-12.col-xs-12
					.footer__city.city г. Москва
				.col-lg-2.col-md-2.col-sm-12.col-xs-12
					a.footer__phone.phone(href="tel:74957488864") +7 495 748 8864
