.footer
	display block
	font-size 12px
	.row
		padding 30px 0

	&__code
		text-align left
		text-transform uppercase
	&__city
		text-align center
	&__phone
		display block
		font-family $mM
		text-align right
	&__code,
	&__city,
	&__phone
		+r(992px)
			font-size 16px
			line-height 1.4
			text-align center
